@media (max-width: 1440px){
    
    .client-elem-section {
        margin-right: 155px!important;
    }

    .section-one-banners{
        margin-left: 230px!important;
    }
    
    .banner-img{
        width: 1120px!important;
        height: 670px!important;
    }

    .ellipse{
        margin-left: 9px!important;
    }

    .section-two{
        justify-content: flex-start!important;
    }
}