@font-face {
  font-family: "MontserratBold";
  src: url(../font/Montserrat/Montserrat-Black.ttf); }
@font-face {
  font-family: "MontserratNormal";
  src: url(../font/Montserrat/Montserrat-Medium.ttf); }
@font-face {
  font-family: "MontserratBold";
  src: url(../font/Montserrat/Montserrat-Black.ttf); }
@font-face {
  font-family: "MontserratNormal";
  src: url(../font/Montserrat/Montserrat-Medium.ttf); }
@media (max-width: 375px) {
  header {
    position: fixed !important;
    z-index: 30 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 85px !important; }

  .phone {
    position: absolute;
    width: 100px;
    margin-top: -45px;
    right: 20px; }
    .phone .mobile-menu {
      width: 100px;
      position: absolute;
      display: flex !important; }
      .phone .mobile-menu .mobile-menu-icon {
        position: absolute;
        width: 40px; }
      .phone .mobile-menu .mobile-menu-block {
        position: relative;
        margin-top: 95px;
        display: none;
        z-index: 10; }
        .phone .mobile-menu .mobile-menu-block.open {
          display: flex;
          flex-direction: column;
          margin-left: -175px;
          background-color: #bdb8b8; }
        .phone .mobile-menu .mobile-menu-block ul {
          padding: 10px; }
        .phone .mobile-menu .mobile-menu-block .mobile-client-elem-section {
          width: 250px;
          margin-left: 30px; }
          .phone .mobile-menu .mobile-menu-block .mobile-client-elem-section li {
            padding: 5px !important; }
          .phone .mobile-menu .mobile-menu-block .mobile-client-elem-section .shop.in {
            display: flex !important;
            top: 40px !important;
            right: 100px !important; }
        .phone .mobile-menu .mobile-menu-block .mobile-menu-list li {
          padding: 5px !important; }

  .client-elem-section {
    display: none !important; }

  .mobile-client-elem-section {
    display: flex; }

  .menu {
    display: none !important; }

  .section-one {
    display: none !important; }

  .guud-section {
    right: -27px !important;
    grid-template-columns: repeat(1, 500px) !important; }

  .more-books-block button {
    margin-left: -210px; }

  .category {
    position: fixed !important;
    width: 148px !important;
    display: flex;
    z-index: 10;
    left: -146px;
    top: 190px !important; }
    .category.active {
      left: 0; }
    .category .category-list {
      left: -31px;
      top: -10px; }
    .category .btnOpen {
      display: block !important;
      background-color: #EFEEF6;
      border: 0; } }
@media (max-width: 1440px) {
  .shop.in {
    right: 152px !important; }

  .client-elem-section {
    margin-right: 155px !important; }

  .section-one-banners {
    margin-left: 230px !important; }

  .banner-img {
    width: 1120px !important;
    height: 670px !important; }

  .ellipse {
    margin-left: 9px !important; }

  .section-two {
    justify-content: flex-start !important; } }
body, header, main, footer, h1, h2, h3, h4, h5, h6, p, button, li {
  margin: 0;
  padding: 0;
  font-family: "MontserratNormal"; }

header {
  width: 100%;
  height: 116px;
  position: relative; }
  header.scroll {
    position: fixed;
    background-color: #FFFFFF;
    z-index: 30; }

.header-elem-section, .client-elem-section {
  height: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between; }

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px; }

li {
  list-style: none;
  list-style-type: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
  margin-left: 30px; }

a {
  list-style: none;
  list-style-type: none;
  cursor: pointer;
  text-decoration: none;
  color: black; }

.mobile-menu {
  display: none; }

.logo {
  margin-left: 143px; }

.client-elem-section {
  margin-right: 145px; }

.shop {
  display: none;
  right: 142px !important; }
  .shop.in {
    display: flex;
    width: 13px;
    height: 13px;
    border-radius: 10px;
    background-color: red;
    position: absolute;
    top: 58px !important; }
    .shop.in .cartItemCount {
      font-size: 10px;
      color: white;
      margin-left: 3.5px; }

.banner-img {
  width: 1200px;
  height: 702px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  position: absolute;
  right: 100%; }
  .banner-img.active {
    opacity: 1;
    visibility: visible;
    position: relative;
    left: 0%; }

.section-one {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2; }

.section-one-banners {
  display: flex;
  justify-content: center;
  margin-left: 260px; }

.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 2;
  top: 2vh;
  right: 84px; }

.promo-one {
  margin-right: 60px; }

.ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-top: 10px; }

.ellipse-circle {
  position: relative;
  z-index: 20;
  cursor: pointer;
  background-color: #EFEEF6;
  display: block;
  width: 10px;
  height: 10px;
  margin: 8px 13px;
  border-radius: 5px;
  margin-left: -5px; }
  .ellipse-circle.push {
    background-color: #9E98DC; }

.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start; }

.category {
  background-color: #EFEEF6;
  width: 416px;
  height: 710px;
  position: relative;
  top: 45px; }
  .category .btnOpen {
    display: none; }

.category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  left: 95px; }

.category-li {
  margin-top: 23px;
  font-size: 12px; }
  .category-li.clicked {
    font-weight: bold;
    list-style: disc; }

.guud-section {
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 10px;
  grid-template-columns: repeat(2, 500px);
  position: relative;
  row-gap: 95px;
  top: 85px;
  right: 55px; }

.guud-list {
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 10px;
  opacity: 0;
  transition: opacity 1s ease;
  grid-template-columns: 235px 190px;
  position: relative;
  z-index: 5;
  align-items: center; }
  .guud-list.active {
    opacity: 1; }
  .guud-list img {
    width: 212px;
    height: 300px; }
  .guud-list p {
    margin-top: 4px;
    font-size: 10px; }
  .guud-list h2 {
    margin-top: 4px;
    font-size: 16px; }
  .guud-list h3 {
    margin-top: 16px;
    font-size: 13px; }
  .guud-list button {
    cursor: pointer;
    width: 176px;
    height: 45px;
    margin-top: 16px;
    background-color: #ffffff;
    border: #4C3DB2 solid 1px;
    color: #4C3DB2; }
    .guud-list button:hover {
      background-color: #9692aa; }

.guud-info {
  margin-top: -65px; }

.infoImg {
  width: 12px !important;
  height: 12px !important; }

.info-statistic {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 10px; }

.infoPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start; }

.guud {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.more-books-block {
  margin-top: 170px;
  margin-left: 320px;
  margin-bottom: 70px; }
  .more-books-block button {
    cursor: pointer;
    width: 176px;
    height: 45px;
    margin-top: 16px;
    background-color: #ffffff;
    border: #4C3DB2 solid 1px;
    color: #4C3DB2; }
    .more-books-block button:hover {
      background-color: #9692aa; }

/*# sourceMappingURL=style.css.map */
